video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: fill;
}

.video_coffe_layer_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
