* {
  font-family: $fontF__1;
  font-size: $p;
  line-height: 1.6;
  color: $grey;
}
h1 {
  font-size: $h1;
}
h1 span {
  font-size: $h1_portfolio;
  font-family: $fontF__2;
}
h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3;
}
p {
  font-size: $p;
}
