nav {
  width: 50%;
  height: auto;
  margin-top: 25px;
  margin-left: 20px;
}

.hero_nav_ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hero_nav_ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 114px;
  height: 40px;
  background-color: #303030;
}

.hero_nav_ul img {
  display: block;
}
